html {
    font-family: 'Courier New', Courier, monospace;
    background-color: ivory;
    box-sizing: border-box;
}

a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid navy;
    margin: 10px;
    padding: 10px;
    transition: color .5s, background-color .5s;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkgrey;
}

a:hover{
    border: 1px solid royalblue;
    color: white;
    background-color: navy;
    transition: color .5s, background-color .5s, border .5s;
}

h1{
    font-size: 4em;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

header ul {
    list-style: none;
    display: flex;
}

ul li {
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boxescont {
    width: 95%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

}

#caixa1 {

}

#caixa2 {


}

#caixa3 {

}

#caixa4 {
  
}

#caixa5 {
   
}

.textbox {
    text-align: justify;
    border: 5px inset black;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 8px 8px 1px darkgrey;
    background-color: cornsilk;
}

#gallery {
    margin: 5em 0em;
    display: flex;
    justify-content: space-evenly;
}

#gallery img {
    width: 15%;
    box-shadow: 8px 8px 5px darkgrey;
    border: 5px inset black;
}

#founders {
    text-align: center;
    border: 5px inset black;
    width: 90;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 8px 8px 5px darkgrey;
    background-color: cornsilk;
}

#founders h2 {
    font-size: 2rem;
}
