html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: ivory
}

a {
    color: navy;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid navy;
    margin: 10px;
    padding: 10px;
    transition: color .5s, background-color .5s;
    border-radius: 5px;
    box-shadow: 5px 5px darkgrey;
}

a:hover{
    border: 1px solid royalblue;
    color: white;
    background-color: navy;
    transition: color .5s, background-color .5s, border .5s;
}

h1{
    font-size: 4em;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

header ul {
    list-style: none;
    display: flex;
}

ul li {
}

main {
    display: flex;
    justify-content: center;
}

#boxescont {
    width: 75%;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas:
    "c1 c1 c2"
    "c3 c4 c4"
    "c5 c5 c5"
}

#caixa1 {
    grid-area: c1;
}

#caixa2 {
    grid-area: c2;

}

#caixa3 {
    grid-area: c3;
}

#caixa4 {
    grid-area: c4;
}

#caixa5 {
    grid-area: c5;
}

.textbox {
    border: 5px inset black;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    box-shadow: 8px 8px darkgrey;
    background-color: cornsilk;
}
