body {
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    background-image: url("../images/background.jpg");

}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    transition: height .5s;
}

ul {
    position: relative;
    top: 25px;
}

a {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    transition: background-color .2s;
}

a:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.button {
    margin-top: 50px;
    display: inline-block;

}

#tux {
    width: 10%;
    height: 10%;
    filter: drop-shadow(10px 10px 10px black)
}

